body{
    padding: 0;
    margin: 0;
    font-family: Verdana;
} 

*{
    font-family: 'Times New Roman';
}

/* ----------MENU BAR------------------------------ */
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.logo{
    width: 70px;
    height: 50px;
}
.searchs{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    
}
.fa-search{
    cursor:pointer;
    margin-left: 10px;
    padding: 8px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.icon{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: -100px;
}
.fass{
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
}
.fas{
    color: blue;
    font-size: 29px;
}
.fas:hover{
    color: orange;
    cursor: pointer;
}
.search{
    padding: 10px;
    border-radius: 10px ;
    width: 80%;
    border: 2px rgb(121, 113, 113) solid;
}

/* ----------CONTAINER--------------------------------- */

.controlCon{
    margin-top: 30px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    margin-left: 290px;
    border-radius: 10px;
    height: 30vh;
}

/* ----------CONTAINER--------------------------------- */
.pic_profile{
    width: 70px;
    height:70px;
    border-radius: 70px;
}
.container{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
.post_text{
    border: 2px rgb(121, 113, 113) solid;
    border-radius: 10px;
    margin-left: 50px;
    width:70%;
    height: 40px;
    margin-top: 10px;
}

.hr{
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: rgb(121, 113, 113);
}
.typePost{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
.felling{
    margin-top: -15px;
}
.fa-photo-video:hover{
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
.fa-photo-video{
    height: 40px;
    border-radius: 10px;
    width: 40%;
   
}
.file-input{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    
    margin-left: 300px;
}
.post_text{
    /* padding: 5px; */
    border: 2px blue solid;
    border-radius: 10px;
    margin-left: 50px;
    width: 40%;
    height: 40px;
    margin-top: 10px;
}
.pic_profile:hover{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    cursor: pointer;
    
}


/* body_facebook */

.container1{
    /* margin-left: 30vh; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    margin:auto;

    
}
.logo_fb,.hearder_post{
    display: flex;
    
}
.logo_fb{
    margin-left:5rem;
}
.hearder_post{
    width: 70%;
    margin-left:10rem;
    
}

.pic{
    margin-top: 10px;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 5px;
}
.text{
    margin-top: 20px;
}
.hours{
    margin-top: -1.3rem;
    margin-right:10rem;
}
.pic_post{
    width: 80%;
    height: 70%;
    border-radius: 10px
}
.description{
    margin-left: -10%;
    /* margin-top: 1%; */
    font-size: 20px;
}
.title{
    margin-top: 10px;
}
/* .icons{
    margin-left: 25rem; 
}*/
.icon1{
    width:50%; 
    margin:auto;
}
#edit{
    margin-right:2rem;
}
.icons{
    margin-left: 55%;
     cursor: pointer;
}
.img_post{
    margin-left:1rem;
    width:95%;
    height: 30%;
}
.icon_like_cmm{
    justify-content:space-around;
    display:flex;
    align-items: center;
    margin-top:1rem;
}